/*red: #FF7B6A  */
/*orange: #FFAB6A  */
/*green: #66F48B  */
/*blue: #64EFE5  */

.red {
  color: #FF7B6A
}
.bgRed {
  background: #FF7B6A
}
.bgRed:hover {
  border: 5px solid #FF5A45;
  padding: 0;
}
.bgLightRed {
  background: #FFA296
}
.bgLightRed:hover {
  border: 5px solid #FF7B6A;
  padding: 0;
}
.orange {
  color: #FFAB6A
}
.bgOrange {
  background: #FFAB6A
}
.bgOrange:hover {
  border: 5px solid #FF9645;
  padding: 0;
}
.bgLightOrange {
  background: #FFC396
}
.bgLightOrange:hover {
  border: 5px solid #FFAB6A;
  padding: 0;
}
.green {
  color: #66F48B
}
.bgLightGreen {
  background: #92FAAD
}
.blue {
  color: #64EFE5
}
.bgBlue {
  background: #64EFE5
}
.bgBlue:hover {
  border: 5px solid #3EE4DF;
  padding: 0;
}
.bgLightBlue {
  background: #91F7EF
}
.bgLightBlue:hover {
  border: 5px solid #64EFE5;
  padding: 0;
}
.logo {
  text-align: center;
}
.categoryCard {
  text-align: center;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  cursor: pointer;
  padding: 1px;
  box-sizing: border-box;
  margin-bottom: 10px;
}
.questionCard {
  text-align: center;
  width: 150px;
  height: 150px;
  border-radius: 7px;
  cursor: pointer;
  padding: 4px;
  box-sizing: border-box;
  margin: 0 5px 5px 5px;
}

.categoryFlex {
  margin: 0 auto;
  max-width: 700px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.questionFlex {
  /* border: 1px solid brown; */
  margin: 0 auto;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
